@font-face {
  font-family: Inconsolata;
  src: url(fonts/Inconsolata.otf);
}

div {
  font-family: Inconsolata;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: white;
  padding: 10px;
}
.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

.row {
  display: -ms-flexbox; /* IE 10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE 10 */
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create two equal columns that sits next to each other */
.column {
  -ms-flex: 50%; /* IE 10 */
  flex: 50%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
}

.header {
  text-align: left;
  padding: 32px;
}

::selection {
  background: white; /* WebKit/Blink Browsers */
  color: white;
}
::-moz-selection {
  background: white; /* Gecko Browsers */
  color: white;
}