@font-face {
  font-family: Inconsolata;
  src: url(fonts/Inconsolata.otf);
}

div {
  font-family: Inconsolata;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: white;
  padding: 10px;
}

.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

.header {
  text-align: left;
  padding: 32px;
}

::selection {
  /* background: white; */
  /* WebKit/Blink Browsers */
  color: white;
  text-decoration: underline;
  text-decoration-color: black;
}

::-moz-selection {
  /* background: white; */
  /* Gecko Browsers */
  color: white;
  text-decoration: underline;
  text-decoration-color: black;
}

@media only screen and (min-width: 921px) {

  * {
    --cursorcolors: #261F1D;
    cursor: none;
  }

  #svg {
    z-index: 999999999;
    width: 200vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
  }

  #polyline {
    z-index: 999999999;
    stroke-dasharray: 0;
    stroke-width: 1;
    stroke-linecap: round;
    stroke: var(--cursorcolors) !important;
  }

  #polyline.active {
    stroke: #261F1D !important;
  }

}

@media only screen and (max-width: 920px) {

  #svg,
  #polyline {
    display: none !important;
  }
}