@font-face {
  font-family: Inconsolata;
  src: url(/fonts/Inconsolata.otf);
}

p,
h1,
h2,
a,
code {
  font-family: "Inconsolata", monospace;
  font-size: 24px;
  font-weight: normal;
  line-height: 1.5em;
  margin-block-start: 0em;
  margin-block-end: 0em;
}


h1 {
  padding-left: 4ch;
  font-family: "Inconsolata", monospace;
}

#refresh:hover {
  color: greenyellow;
  font-size: 100px;
}

#resume:hover {
  color: greenyellow;
}

body {
  overflow: scroll;
  /* Add the ability to scroll */
  scroll-behavior: smooth;
  }

/* Hide scrollbar for Chrome, Safari and Opera */
.example::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.example {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.header {
  text-align: left;
  padding: 32px;
  position: fixed;
  z-index: 9999999999999;
  text-size-adjust: .50;
}


/* selection properties*/
::selection {
  color: transparent;
  /* WebKit/Blink Browsers */
}

::-moz-selection {
  color: transparent;
  /* Gecko Browsers */
}


/* cursor properties */
@media only screen and (min-width: 921px) {

  * {
    --cursorcolors: #261F1D;
    cursor: none;
  }

  #svg {
    z-index: 1;
    width: 200vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
  }

  #polyline {
    z-index: 1;
    stroke-dasharray: 0;
    stroke-width: 1;
    stroke-linecap: round;
    stroke: black !important;
  }

  #polyline.active {
    stroke: #261F1D !important;
  }

}

@media only screen and (max-width: 920px) {

  #svg,
  #polyline {
    display: none !important;
  }
}

#mydiv {
  position: absolute;
  z-index: 1;
}

#mydivheader {
  z-index: -10;
}


#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 24px;
  border: none;
  outline: none;
  color: black;
  background-color: transparent;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
  font-family: Inconsolata;
}

#myBtn:hover {
  color: greenyellow;
  font-size: 100px;
}


div:hover>#hov {
  display: block;
}

div:hover>#hov2 {
  display: block;
}

#hov {
  font-family: Inconsolata;
  display: none;
  position: fixed;
  padding: 20px;
  font-style: italic;
  font-size: 400px;
  line-height: .75em;
  font-weight: bold;
  color: greenyellow;
  z-index: 99999999999999;
}
#hov2 {
  font-family: Inconsolata;
  display: none;
  position: fixed;
  font-style: italic;
  font-size: 400px;
  font-weight: bold;
  color: greenyellow;
  z-index: 99999999999999;
}


#refresh {
  position: absolute;
  bottom: 0;
  left: 0;
  border: none;
  outline: none;
  color: black;
  padding: 15px;
  border-radius: 4px;
  font-family: Inconsolata;
  text-align: left;
  padding: 32px;
  position: fixed;
  z-index: 9999999;
  font-size: 34;
}

a:link,
a:visited {
  color: black;
  text-decoration: none;
}

#scrollDown {
  position: fixed;
  top: 20px;
  right: 30px;
  z-index: 99;
  font-size: 24px;
  border: none;
  outline: none;
  color: black;
  background-color: transparent;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
  font-family: Inconsolata;
}


#scrollDown:hover {
  color: greenyellow;
  font-size: 100px;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  border: none;
  outline: none;
  color: black;
  padding: 15px;
  border-radius: 4px;
  font-family: Inconsolata;
  text-align: left;
  padding: 32px;
  z-index: 1;
  font-size: 34;
  padding-left: 4ch;
  bottom: 9px;
}

/* .footer a {
  margin-right: 0
}

.footer #save {
  border-color: transparent !important;
  opacity: 0;
  transition: opacity 2s linear;
  font-size: 24px;
  letter-spacing: -0.4px;
}

.footer #save:hover {
  color: greenyellow;
} 

@media screen and (max-width: 831px) {
  .footer {
    width: 100vw;
    overflow: scroll;
    height: 12px;
  }
}

@media screen and (max-width: 736px) {
  html {
    font-size: 8px;
  }
  
  #save {
    display: none;
  }
}  */

@media only screen and (max-width: 600px) {

  html, body {
    font-family: "Inconsolata", monospace;
    height: 100%;
    width: 100%;
  }

  p, h1, h2, a, code {
    font-size: 14px;
    font-family: "Inconsolata", monospace;
  }

  h1 {
    padding-left: 2ch;
    font-family: "Inconsolata", monospace;
    width: 50%;
    max-width: 500px;
  }

  h2 {
    padding-left: 6ch;
    text-indent: -2ch;
  }

  img, video, audio, iframe {
    display: flex;
  }

  .slide_container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }

  .image_container {
    width: 100%;
    height: 100%;
  }

  .white_space {
    display: block;
  }
  #scrollDown{
    font-family: Inconsolata;
color:transparent;
}
#scrollDown:hover {
  font-family: Inconsolata;
  color: greenyellow;
  font-size: 24px;
}
#myBtn:hover {
  font-family: Inconsolata;
  color: greenyellow;
  font-size: 24px;
}
#refresh:hover {
  font-family: Inconsolata;
  color: greenyellow;
  font-size: 34px;
}
#hov, #hov2{
  font-size: 100px;
  position: fixed;
  font-family: Inconsolata;
  display: none;
  font-style: italic;
  font-weight: bold;
  color: greenyellow;
  z-index: 99999999999999;
}
a:link,
a:visited {
  font-family: Inconsolata;
  color: black;
  text-decoration: none;
}
}