@font-face {
  font-family: Inconsolata;
  src: url(fonts/Inconsolata.otf);
}

div {
  font-family: Inconsolata;
}

.header {
  text-align: left;
  padding: 32px;
}

/* grid */
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: white;
  padding: 10px;
}
.grid-item {
  background-color: white;
  border: 1px solid black;
  padding: 20px;
  font-size: 30px;
  text-align: center;
} 

/* selection properties*/
::selection {
  background: white;
  color: white;
  /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: white;
  color: white;
  /* Gecko Browsers */
}


/* cursor properties */
@media only screen and (min-width: 921px) {

  * {
    --cursorcolors: #261F1D;
    cursor: none;
  }

  #svg {
    z-index: -999999999;
    width: 200vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
  }

  #polyline {
    z-index: 999999999;
    stroke-dasharray: 0;
    stroke-width: 1;
    stroke-linecap: round;
    stroke: var(--cursorcolors) !important;
  }

  #polyline.active {
    stroke: #261F1D !important;
  }

}

@media only screen and (max-width: 920px) {

  #svg,
  #polyline {
    display: none !important;
  }
}

