/* HTML, Body */
@font-face { font-family: "SuisseIntl"; src: url("../assets/fonts/SuisseIntl.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/SuisseIntl.woff") format("woff"), url("../assets/fonts/SuisseIntl.ttf") format("truetype"), url("../assets/fonts/SuisseIntl.svg#SuisseIntl") format("svg"); font-style: normal; font-weight: 400; }

@font-face { font-family: "SuisseWorks-BookItalic"; src: url("../assets/fonts/SuisseWorks-BookItalic.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/SuisseWorks-BookItalic.woff") format("woff"), url("../assets/fonts/SuisseWorks-BookItalic.ttf") format("truetype"), url("../assets/fonts/SuisseWorks-BookItalic.svg#SuisseWorks-BookItalic") format("svg"); font-style: italic; font-weight: 400; }

@font-face { font-family: "Spectral"; src: url("../assets/fonts/Spectral-Light.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/Spectral-Light.woff") format("woff"), url("../assets/fonts/Spectral-Light.ttf") format("truetype"), url("../assets/fonts/Spectral-Light.svg#Spectral") format("svg"); font-style: normal; font-weight: 400; }

@font-face { font-family: "Spectral"; src: url("../assets/fonts/Spectral-LightItalic.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/Spectral-LightItalic.woff") format("woff"), url("../assets/fonts/Spectral-LightItalic.ttf") format("truetype"), url("../assets/fonts/Spectral-LightItalic.svg#Spectral") format("svg"); font-style: italic; font-weight: 400; }

*, *:after, *:before { box-sizing: border-box; -webkit-font-smoothing: antialiased; font-smoothing: antialiased; text-rendering: optimizeLegibility; margin: 0; padding: 0; outline: none; cursor: none; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; -webkit-tap-highlight-color: rgba(255, 255, 255, 0); }

p { font-family: "Spectral"; }

h3 { font-style: italic; font-size: 17px; }

body { overflow-y: scroll; overflow-x: hidden; font-family: "Spectral"; cursor: none; }

body.single-project--open { overflow: hidden; }

#cursor { top: -15px; right: -15px; pointer-events: none; width: 20px; height: 20px; border: 2px solid #000; background: #FFF; border-radius: 100%; position: fixed; z-index: 9999; cursor: none; -webkit-transition: background 0.2s ease, -webkit-transform 0.2s ease; transition: background 0.2s ease, -webkit-transform 0.2s ease; transition: transform 0.2s ease, background 0.2s ease; transition: transform 0.2s ease, background 0.2s ease, -webkit-transform 0.2s ease; -webkit-transform: scale3d(0.5, 0.5, 0.5) translate3d(-10px, -10px, 0); transform: scale3d(0.5, 0.5, 0.5) translate3d(-10px, -10px, 0); -webkit-transform-origin: center; transform-origin: center; }

@media (max-width: 768px) { #cursor { display: none !important; } }

.cursor--oculto #cursor { opacity: 1 !important; }

.cursor--oculto.cursor--hover #cursor { opacity: 1 !important; }

.cursor--hover #cursor { background: #000; -webkit-transform: scale3d(1, 1, 1) translate3d(-10px, -10px, 0); transform: scale3d(1, 1, 1) translate3d(-10px, -10px, 0); }

.oculto { -webkit-transform: translateY(30px); transform: translateY(30px); opacity: 0; -webkit-transition: opacity 0.3s ease 0.1s, -webkit-transform 0.6s ease; transition: opacity 0.3s ease 0.1s, -webkit-transform 0.6s ease; transition: transform 0.6s ease, opacity 0.3s ease 0.1s; transition: transform 0.6s ease, opacity 0.3s ease 0.1s, -webkit-transform 0.6s ease; }

.oculto.visible { -webkit-transform: translateY(0); transform: translateY(0); opacity: 1; }

#cookie-notice { border: 1px solid #000; position: fixed; bottom: 20px; right: 20px; width: 100%; font-size: 10.4px; color: #000000; letter-spacing: -0.13px; line-height: 12.28px; left: unset; min-width: inherit; max-width: 335px; z-index: 100; }

@media (max-width: 768px) { #cookie-notice { max-width: inherit; bottom: 0; right: 0; border: none; border-top: 1px solid #000; } }

#cookie-notice .cookie-notice-container { padding: 0; display: -webkit-box; display: -webkit-flex; display: flex; -webkit-flex-wrap: wrap; flex-wrap: wrap; text-align: left; }

#cookie-notice .cookie-notice-container a { text-decoration: none; color: #000; }

#cookie-notice #cn-notice-text { padding: 12px; display: block; border-bottom: 1px solid #000; }

#cookie-notice #cn-accept-cookie { font-family: "Spectral"; border-right: 1px solid #000; width: 70px; text-align: center; line-height: 1; margin: 0; padding: 10px 0 8px 0; }

#cookie-notice #cn-more-info { font-family: "Spectral"; padding: 10px 0 8px 17px; margin: 0; line-height: 1; font-style: italic; }

.wrapper__container { width: 100%; }

.item__container { width: 100%; }

@media (max-width: 768px) { .item__container { margin: 0 !important; } }

.item__container:hover { cursor: none; }

body.page-template-index { padding: 0; }

.wrapper > .index { padding: 0 20px 0 70px; }

@media (max-width: 1440px) { .wrapper > .index { padding: 0 20px 0 60px; } }

@media only screen and (max-width: 768px) { .wrapper > .index { padding: 0; } }

.index { display: -webkit-box; display: -webkit-flex; display: flex; width: 100%; -webkit-flex-wrap: wrap; flex-wrap: wrap; position: relative; -webkit-box-pack: center; -webkit-justify-content: center; justify-content: center; }

.index__container { width: 100%; text-align: center; position: relative; }

@media (max-width: 768px) { .index__container { display: -webkit-box; display: -webkit-flex; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -webkit-flex-direction: column; flex-direction: column; -webkit-box-align: stretch; -webkit-align-items: stretch; align-items: stretch; } }

.index .home__item { position: absolute; top: 0; background: #FFF; }

.index .home__item.fin-animar { z-index: unset !important; position: unset; top: 0 !important; }

.index .home__item__container { display: -webkit-box; display: -webkit-flex; display: flex; -webkit-box-align: center; -webkit-align-items: center; align-items: center; }

@media (max-width: 768px) { .index .home__item__container { -webkit-box-align: start; -webkit-align-items: flex-start; align-items: flex-start; } }

.index .home__info { padding: 0; }

.index .index-text { display: -webkit-box; display: -webkit-flex; display: flex; -webkit-box-pack: justify; -webkit-justify-content: space-between; justify-content: space-between; width: 100%; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -webkit-flex-direction: row; flex-direction: row; border-bottom: 1px solid black; -webkit-flex-wrap: wrap; flex-wrap: wrap; margin: 0; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }

@media (min-width: 769px) { .index .index-text { height: 60px; } }

@media (max-width: 768px) { .index .index-text { padding: 10px 0px; margin: 0 20px; width: calc(100% - 40px); } }

.index .index-text > div { -webkit-user-select: all; -moz-user-select: all; -ms-user-select: all; user-select: all; }

.index .index-text .index-left p { text-align: left; }

.index .index-text .index-left > div { width: -webkit-max-content; width: -moz-max-content; width: max-content; }

.index .index-text .index-left > div:hover .index-image { display: -webkit-box; display: -webkit-flex; display: flex; position: absolute; top: 50%; left: 50%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); }

@media only screen and (max-width: 740px) { .index .index-text .index-left > div { width: 100%; } }

@media only screen and (max-width: 768px) { .index .index-text .index-right { -webkit-box-orient: vertical; -webkit-box-direction: normal; -webkit-flex-direction: column; flex-direction: column; width: auto; } }

.index .index-text .imagen { width: 100%; -webkit-box-pack: center; -webkit-justify-content: center; justify-content: center; display: none; pointer-events: none; }

@media (max-width: 768px) { .index .index-text .imagen { display: none !important; } }

.index .index-text .imagen.show { display: block; z-index: 1; width: 300px; }

.index .index-text p { text-transform: uppercase; text-align: center; }

.index .index-text a { text-decoration: none; color: black; }

.index .index-text:hover { cursor: none; }

@media only screen and (max-width: 768px) { .index { padding: 20px; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -webkit-flex-direction: row; flex-direction: row; } }

.index div.photographer { display: -webkit-box !important; display: -webkit-flex !important; display: flex !important; width: 220px; font-size: 16px; line-height: 16px; font-family: "Spectral"; }

@media (max-width: 768px) { .index div.photographer { width: 50%; } }

.index div.photographer:hover { cursor: none; }

.index div.photographer > a:hover { cursor: none; }

.index .titulo { font-size: 16px; line-height: 16px; font-family: "Spectral"; }

.index .titulo a:hover { cursor: none; }

.index .titulo:hover { cursor: none; }

.index h3 { text-align: right; font-size: 16px; line-height: 16px; }

.index span.photographer { display: none !important; }

@media (max-width: 768px) { .index-text { height: 80px; } }

.index .der { display: -webkit-box; display: -webkit-flex; display: flex; width: calc(100% - 220px); }

@media only screen and (max-width: 768px) { .index .der { display: block; width: auto; width: 50%; text-align: right; } }

.index .der .titulo { width: calc(100% - 220px); }

@media only screen and (max-width: 768px) { .index .der .titulo { width: 100%; } }

.index .der .location { width: 220px; }

@media only screen and (max-width: 768px) { .index .der .location { width: 100%; } }

.index .der > * { width: 50%; }

@media only screen and (max-width: 768px) { .index .der > * { width: auto; } }

@media only screen and (max-width: 768px) { .index .home__info { display: -webkit-box; display: -webkit-flex; display: flex; -webkit-box-pack: justify; -webkit-justify-content: space-between; justify-content: space-between; -webkit-box-align: start; -webkit-align-items: flex-start; align-items: flex-start; } }

.index .location > a:hover { opacity: 0.5; -webkit-transition: 0.2s; transition: 0.2s; cursor: none; }

@media only screen and (max-width: 768px) { .index .location { box-sizing: border-box; display: -webkit-box; display: -webkit-flex; display: flex; -webkit-box-align: center; -webkit-align-items: center; align-items: center; -webkit-box-pack: end; -webkit-justify-content: flex-end; justify-content: flex-end; } }

@media only screen and (max-width: 768px) { .index div.photographer { box-sizing: border-box; -webkit-box-align: center; -webkit-align-items: center; align-items: center; text-align: left; } }

@media only screen and (max-width: 768px) { .index div.titulo { box-sizing: border-box; -webkit-box-align: center; -webkit-align-items: center; align-items: center; padding: 0; } }

.index-text .semicolon { display: none; }

nav { position: fixed; bottom: -41px; left: 0; width: 100vh; -webkit-transform-origin: left top; transform-origin: left top; -webkit-transform: rotate(-90deg); transform: rotate(-90deg); border-bottom: 1px solid; background-color: white; z-index: 900; height: 41px; }

nav ul { list-style: none; margin: 0; padding: 0; }

nav ul.menu { display: -webkit-box; display: -webkit-flex; display: flex; -webkit-box-pack: justify; -webkit-justify-content: space-between; justify-content: space-between; -webkit-box-align: center; -webkit-align-items: center; align-items: center; width: 100%; height: 100%; padding: 0 6px; z-index: 10; position: relative; }

@media only screen and (max-width: 768px) { nav ul.menu { -webkit-box-pack: center; -webkit-justify-content: center; justify-content: center; -webkit-box-orient: vertical; -webkit-box-direction: normal; -webkit-flex-direction: column; flex-direction: column; padding: 0; color: #000; mix-blend-mode: unset; } }

nav ul.menu > li { width: 25%; text-align: center; }

nav ul.menu > li:first-child { text-align: left; }

nav ul.menu > li:first-child a > p { float: left; }

nav ul.menu > li:last-child { text-align: right; }

nav ul.menu > li:last-child a > p { float: right; }

nav ul.menu > li p { font-size: 16px; text-transform: uppercase; font-family: "Spectral"; width: -webkit-max-content; width: -moz-max-content; width: max-content; margin: 0 5px; }

@media only screen and (max-width: 768px) { nav ul.menu > li p { font-size: 16px; } }

nav ul.menu > li a { text-transform: uppercase; text-decoration: none; color: #000; width: -webkit-max-content; width: -moz-max-content; width: max-content; }

@media (max-width: 768px) { nav ul.menu > li a { color: #000; } }

nav ul.menu > li a span { font-size: 16px; font-family: "Spectral"; }

@media only screen and (max-width: 768px) { nav ul.menu > li a span { font-size: 16px; } }

nav ul.menu > li a > p { width: -webkit-max-content; width: -moz-max-content; width: max-content; }

@media only screen and (max-width: 768px) { nav ul.menu > li { width: 100%; text-align: center; border-bottom: 1px solid black; -webkit-box-pack: center; -webkit-justify-content: center; justify-content: center; -webkit-box-align: center; -webkit-align-items: center; align-items: center; display: -webkit-box; display: -webkit-flex; display: flex; height: 35px; } }

nav ul.menu > li ul { -webkit-box-pack: center; -webkit-justify-content: center; justify-content: center; }

nav ul.menu > li ul li { border-bottom: none; }

nav ul.menu > li ul li.actual { display: none; }

@media only screen and (max-width: 768px) { nav { position: relative; bottom: 0; width: 100%; -webkit-transform-origin: none; transform-origin: none; -webkit-transform: rotate(0deg); transform: rotate(0deg); border-bottom: none; height: auto; } }

.sidenav { height: 100%; width: 600px; position: fixed; top: 0; left: -600px; background-color: #ececec; z-index: 1000; }

.sidenav #sideNavScroll { overflow-x: hidden; width: 100%; height: 100%; position: absolute; margin-top: 25px; top: 0; }

@media (max-width: 768px) { .sidenav #sideNavScroll { height: calc(100% - 100px); height: 100%; } }

.sidenav-text { padding: 25px 30px 25px 30px; text-align: left; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; padding-top: 0; }

@media (max-width: 768px) { .sidenav-text { padding: 20px; } }

.sidenav-text a { font-style: italic; color: #000; text-decoration: none; }

.sidenav__contact { display: -webkit-box; display: -webkit-flex; display: flex; padding: 0 0 25px; text-align: left; font-family: "Spectral"; font-size: 16px; }

@media (max-width: 768px) { .sidenav__contact { display: block; } }

.sidenav__contact span { display: block; }

.sidenav__contact a { color: #000; text-decoration: none; color: black; font-style: italic; }

.sidenav__contact--social { padding-left: 10px; }

@media (max-width: 768px) { .sidenav__contact--social { padding-left: 0; } }

.sidenav.open { left: 0%; -webkit-transition: 0.5s; transition: 0.5s; }

@media only screen and (max-width: 768px) { .sidenav.open { height: calc(100% - 66px); width: 100%; top: 105px; position: absolute; } }

.sidenav.close { -webkit-transition: 0.5s; transition: 0.5s; }

.sidenav p { font-family: "Spectral"; font-size: 16px; margin: 0 0 18px 0; }

@media only screen and (max-width: 768px) { .sidenav p { font-size: 18px; text-align: left; } }

.sidenav p:last-child { margin-bottom: 0; }

@media only screen and (max-width: 768px) { .sidenav { height: 0; width: 100%; position: absolute; top: 105px; left: 0; } }

@media only screen and (max-width: 768px) { #mainNav { display: none; } }

#mainNav.open-margin { margin-left: 600px; border-top: 1px solid; -webkit-transition: margin-left .5s; transition: margin-left .5s; }

#mainNav.close { -webkit-transition: 0.5s; transition: 0.5s; }

#mobileNav { display: none; }

#mobileNav.open-margin { margin-left: 0; }

#mobileNav ul { position: relative; }

#mobileNav ul:nth-child(2) { display: none; }

#mobileNav ul#mobileMenuList { list-style: none; -webkit-flex-wrap: wrap; flex-wrap: wrap; }

#mobileNav ul#mobileMenuList li { width: 100%; display: -webkit-box; display: -webkit-flex; display: flex; -webkit-box-pack: center; -webkit-justify-content: center; justify-content: center; height: 35px; -webkit-box-align: center; -webkit-align-items: center; align-items: center; border-bottom: 1px solid black; }

#mobileNav ul#mobileMenuList li a { text-decoration: none; color: black; }

#mobileNav ul#mobileMenuList li p { font-size: 16px; margin: 0 5px; text-transform: uppercase; }

#mobileNav ul#mobileMenuList .idiomas { display: none; text-transform: uppercase; }

#mobileNav ul#mobileMenuList .idiomas > ul { display: -webkit-box; display: -webkit-flex; display: flex; -webkit-flex-wrap: wrap; flex-wrap: wrap; }

#mobileNav ul#mobileMenuList .idiomas > ul > li { display: none; border-bottom: none; }

#mobileNav ul#mobileMenuList .idiomas > ul > li.actual { display: -webkit-box; display: -webkit-flex; display: flex; }

#mobileNav .open-mobile { width: 100%; height: 100%; display: -webkit-box !important; display: -webkit-flex !important; display: flex !important; position: absolute; top: 70px; height: auto; background-color: white; }

@media only screen and (max-width: 768px) { #mobileNav { display: -webkit-box; display: -webkit-flex; display: flex; } }

#mobileMenuList { display: none; }

.overflow { overflow: hidden; height: 100vh; }

.ps .ps__rail-y { opacity: 1; }

.ps__thumb-y, .ps__rail-y { padding: 0; }

.ps__rail-y { opacity: 1 !important; }

.ps__thumb-y { opacity: 1; background-color: transparent; border-radius: 0; right: 0px !important; width: 4px; }

.ps__rail-y { background-color: transparent !important; }

.ps__rail-y:hover { background-color: transparent !important; opacity: 1; }

.ps__rail-y:hover > .ps__thumb-y { background-color: transparent; width: 4px; }

.animate { -webkit-transition: 0.5s; transition: 0.5s; }

.wrapper { width: 100%; }

img { pointer-events: none; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }

.panorama { position: fixed; top: 0; left: 0; z-index: 100000; height: 100vh; -webkit-transform: translate(0); transform: translate(0); -webkit-transition: width 0.7s ease; transition: width 0.7s ease; will-change: width; overflow: hidden; width: 100%; }

.panorama.ocultar { background: none; }

.panorama__container { position: fixed; top: 0; right: 0; z-index: 100000; height: 100vh; color: #000; display: -webkit-box !important; display: -webkit-flex !important; display: flex !important; background: none; -webkit-transform: translateY(100px); transform: translateY(100px); -webkit-transition: opacity 0.4s ease, -webkit-transform 0.7s ease; transition: opacity 0.4s ease, -webkit-transform 0.7s ease; transition: transform 0.7s ease, opacity 0.4s ease; transition: transform 0.7s ease, opacity 0.4s ease, -webkit-transform 0.7s ease; will-change: width; overflow: hidden; width: 100%; opacity: 0; }

.mostrar .panorama__container { -webkit-transform: translate(0px); transform: translate(0px); opacity: 1; -webkit-transition: opacity 0.3s linear, -webkit-transform 0.7s ease-out; transition: opacity 0.3s linear, -webkit-transform 0.7s ease-out; transition: opacity 0.3s linear, transform 0.7s ease-out; transition: opacity 0.3s linear, transform 0.7s ease-out, -webkit-transform 0.7s ease-out; }

.ocultar .panorama__container { opacity: 0; -webkit-transition: opacity 0.4s ease, -webkit-transform 0.7s ease; transition: opacity 0.4s ease, -webkit-transform 0.7s ease; transition: transform 0.7s ease, opacity 0.4s ease; transition: transform 0.7s ease, opacity 0.4s ease, -webkit-transform 0.7s ease; }

.panorama span { z-index: 10; line-height: 0.9; font-size: 11vw; left: 0; position: fixed; left: 0; text-transform: uppercase; width: 100vw; height: 100%; display: -webkit-box; display: -webkit-flex; display: flex; -webkit-box-pack: center; -webkit-justify-content: center; justify-content: center; -webkit-box-align: center; -webkit-align-items: center; align-items: center; }

.home { display: -webkit-box; display: -webkit-flex; display: flex; width: 100%; font-size: 16px; overflow-x: hidden; }

.home__row { display: -webkit-box; display: -webkit-flex; display: flex; width: 100%; -webkit-flex-wrap: wrap; flex-wrap: wrap; margin: 0 95px 75px 95px; }

@media only screen and (max-width: 1000px) { .home__row { -webkit-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-orient: vertical; -webkit-box-direction: normal; -webkit-flex-direction: none; flex-direction: none; margin: 0; } }

.home__row.reverse { -webkit-box-orient: horizontal; -webkit-box-direction: reverse; -webkit-flex-direction: row-reverse; flex-direction: row-reverse; }

.home__item { width: 50%; }

.home__item.text--only > div { border: 1px solid #000; }

@media only screen and (max-width: 768px) { .home__item.text--only > div { margin-bottom: 25px; } }

.home__item.text--only .home__info { padding: 25px 0; }

.tax-location .home__item { width: 33.33%; }

@media only screen and (max-width: 768px) { .tax-location .home__item { width: 100%; } }

.home__item__container { text-align: center; }

@media only screen and (max-width: 768px) { .home__item__container { margin: 35px 22px 0; } }

.home__item .imagen { display: -webkit-box; display: -webkit-flex; display: flex; -webkit-align-self: center; align-self: center; -webkit-box-pack: center; -webkit-justify-content: center; justify-content: center; width: 100%; }

.home__item .imagen.photo-small > a { display: block; width: 100%; }

.home__item .imagen.photo-small > a > img { width: 25%; }

.home__item .imagen.photo-medium > a { display: block; width: 100%; }

.home__item .imagen.photo-medium > a > img { width: 50%; }

.home__item .imagen.photo-large > a { display: block; width: 100%; }

.home__item .imagen.photo-large > a > img { width: 75%; }

.home__item .imagen.photo-full > a { display: block; width: 100%; }

.home__item .imagen.photo-full > a > img { width: 100%; }

.home__item .imagen a { display: block; position: relative; width: 100%; }

.home__item .imagen .galeria img { display: none; }

.home__item .imagen .galeria img.activa { display: block; -o-object-fit: cover; object-fit: cover; width: 100%; height: 100%; position: absolute; top: 0; left: 0; }

.home__item .imagen img { display: block; height: auto; width: 100%; }

.home__item .imagen img.img--cover { display: none; }

.page-template-home .home__item .imagen img.img--cover, .tax-location .home__item .imagen img.img--cover { position: absolute; top: 0; left: 0; width: 100%; height: 100%; -o-object-fit: cover; object-fit: cover; -o-object-position: center; object-position: center; }

.home__item .imagen img.img--cover .activa { display: block; }

@media only screen and (max-width: 768px) { .home__item { width: 100%; } }

.home__info { padding: 25px 0 60px 0; }

@media (max-width: 768px) { .home__info { padding: 25px 0; } }

.home__info p { padding-top: 20px; font-size: 16px; text-transform: uppercase; }

@media only screen and (max-width: 768px) { .home__info p { font-size: 16px; } }

.home__info h3 { font-size: 17px; font-weight: normal; }

.home__info a { text-decoration: none; color: #000; }

.home__info .location > a:hover { opacity: 0.5; -webkit-transition: 0.5s; transition: 0.5s; }

.home__info span.photographer { -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; display: inline-block; }

.home__info .titulo { font-family: "Spectral"; text-transform: uppercase; padding: 0 25px; }

@media only screen and (max-width: 768px) { .home__info .titulo__container { display: -webkit-box; display: -webkit-flex; display: flex; -webkit-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-orient: vertical; -webkit-box-direction: normal; -webkit-flex-direction: column; flex-direction: column; } }

.home div.photographer { display: none; }

body.home .home__item:first-of-type .home__item__container { margin-top: 0; }

@media (max-width: 768px) { body.home .home__item:first-of-type .home__item__container { margin-top: 35px; } }

@media (max-width: 768px) { body.home .home__item:last-of-type .home__item__container { margin-bottom: 35px; } }

.home__row::after { clear: both; content: ""; display: block; }

.home__row.show_grid { background-image: -webkit-repeating-linear-gradient(left, transparent, transparent 20px, rgba(0, 212, 255, 0.25) 20px, rgba(0, 212, 255, 0.25) calc(8.3333333333% - 21.6666666667px + 20px)); background-image: repeating-linear-gradient(to right, transparent, transparent 20px, rgba(0, 212, 255, 0.25) 20px, rgba(0, 212, 255, 0.25) calc(8.3333333333% - 21.6666666667px + 20px)); }

.col-1 { width: calc(8.3333333333% - 21.6666666667px); float: left; margin-left: 20px; }

.col-2 { width: calc(16.6666666667% - 23.3333333333px); float: left; margin-left: 20px; }

.col-3 { width: calc(25% - 25px); float: left; margin-left: 20px; }

.col-4 { width: calc(33.3333333333% - 26.6666666667px); float: left; margin-left: 20px; }

.col-5 { width: calc(41.6666666667% - 28.3333333333px); float: left; margin-left: 20px; }

.col-6 { width: calc(50% - 30px); float: left; margin-left: 20px; }

.col-7 { width: calc(58.3333333333% - 31.6666666667px); float: left; margin-left: 20px; }

.col-8 { width: calc(66.6666666667% - 33.3333333333px); float: left; margin-left: 20px; }

.col-9 { width: calc(75% - 35px); float: left; margin-left: 20px; }

.col-10 { width: calc(83.3333333333% - 36.6666666667px); float: left; margin-left: 20px; }

.col-11 { width: calc(91.6666666667% - 38.3333333333px); float: left; margin-left: 20px; }

.col-12 { width: calc(100% - 40px); float: left; margin-left: 20px; }

.margin-1 { margin-left: calc(8.3333333333% - 21.6666666667px + 40px); }

.margin-2 { margin-left: calc(16.6666666667% - 23.3333333333px + 40px); }

.margin-3 { margin-left: calc(25% - 25px + 40px); }

.margin-4 { margin-left: calc(33.3333333333% - 26.6666666667px + 40px); }

.margin-5 { margin-left: calc(41.6666666667% - 28.3333333333px + 40px); }

.margin-6 { margin-left: calc(50% - 30px + 40px); }

.margin-7 { margin-left: calc(58.3333333333% - 31.6666666667px + 40px); }

.margin-8 { margin-left: calc(66.6666666667% - 33.3333333333px + 40px); }

.margin-9 { margin-left: calc(75% - 35px + 40px); }

.margin-10 { margin-left: calc(83.3333333333% - 36.6666666667px + 40px); }

.margin-11 { margin-left: calc(91.6666666667% - 38.3333333333px + 40px); }

.margin-12 { margin-left: calc(100% - 40px + 40px); }

.superior-simple { margin-top: 146px; }

.superior-doble { margin-top: 292px; }

.superior-triple { margin-top: 438px; }

.inferior-simple { margin-bottom: 123px; }

.inferior-doble { margin-bottom: 246px; }

.inferior-triple { margin-bottom: 369px; }

@media only screen and (max-width: 768px) { [class*="col-"] { width: 100%; }
  [class*="margin-"] { margin-left: 0; }
  [class*="superior-"] { margin-top: 0; }
  [class*="inferior-"] { margin-bottom: 0; } }

.overflow { height: 100vh !important; overflow-y: hidden !important; }

@media (max-width: 768px) { .tax-location .home { margin-top: 45px; } }

.categories { width: 100%; }

.categories .grid { width: 100% !important; margin: 100px auto; text-align: center; }

.categories .grid .grid-sizer, .categories .grid .grid-item { width: 33.33%; }

.categories .grid .grid-sizer img, .categories .grid .grid-item img { display: block; height: auto; width: 100%; }

.categories .grid .grid-sizer .grid-text, .categories .grid .grid-item .grid-text { padding: 40px 0; }

@media only screen and (max-width: 1024px) { .categories .grid .grid-sizer, .categories .grid .grid-item { width: 50%; } }

@media only screen and (max-width: 560px) { .categories .grid .grid-sizer, .categories .grid .grid-item { width: 100%; } }

.categories .grid p { text-transform: uppercase; }

.categories .grid:after { content: ''; display: block; clear: both; }

.categories-footer { position: fixed; right: 0; bottom: -35px; left: 40px; border-bottom: 1px solid black; background-color: white; height: 35px; width: 100vh; -webkit-transform: rotate(-90deg) translateY(-100%); transform: rotate(-90deg) translateY(-100%); -webkit-transform-origin: top left; transform-origin: top left; -webkit-transition: -webkit-transform 0.3s ease; transition: -webkit-transform 0.3s ease; transition: transform 0.3s ease; transition: transform 0.3s ease, -webkit-transform 0.3s ease; }

@media (max-width: 768px) { .categories-footer { position: absolute; -webkit-transform: rotate(0deg) translateY(-100%); transform: rotate(0deg) translateY(-100%); height: 30px; top: 70px; left: 0; width: 100%; } }

.categories-footer.visible { -webkit-transform: rotate(-90deg) translateY(0px); transform: rotate(-90deg) translateY(0px); }

@media (max-width: 768px) { .categories-footer.visible { -webkit-transform: rotate(0deg) translateY(0%); transform: rotate(0deg) translateY(0%); height: 30px; } }

.categories-footer-container { display: -webkit-box; display: -webkit-flex; display: flex; -webkit-box-pack: center; -webkit-justify-content: center; justify-content: center; -webkit-box-align: center; -webkit-align-items: center; align-items: center; height: 100%; }

.categories-footer-container > p { font-family: "Spectral"; }

.categories-footer-container > p > span { font-style: italic; font-size: 17px; }

.categories-footer-container > p > span > a { text-decoration: none; color: black; }

@media only screen and (max-width: 768px) { .categories-footer-container p, .categories-footer-container span { font-size: 14.4px !important; } }

body.tax-location .home__row { padding: 30px 30px 30px 76px; margin: 0; }

body.tax-location .home__item { padding: 0 0px 0 30px; }

body.tax-location .home__item:nth-child(3) { padding-right: 0; }

@media (max-width: 768px) { body.tax-location .home__item { padding: 0; } }

@media only screen and (max-width: 768px) { body.tax-location > a, body.tax-location > span { font-size: 20.41px !important; }
  body.tax-location .home__info { padding-top: 13px; }
  body.tax-location .home__item__container { margin: 25px 0; }
  body.tax-location .home__item__container > .imagen { width: 100%; }
  body.tax-location .home__item__container > .imagen > a { width: 100%; }
  body.tax-location .home__row { padding: 0 20px; }
  body.tax-location .home__row:first-child { padding-left: 20px; } }

.single { position: fixed; top: 0; left: 0; z-index: 100; font-family: "Spectral"; height: 100%; width: 100%; padding-left: 40px; }

@media (max-width: 768px) { .single { padding-left: 0; position: static; } }

.single__wrapper { position: fixed; top: 0; left: 0; width: 100%; height: 100%; }

@media (max-width: 768px) { .single__wrapper { padding-top: 70px; overflow-y: auto; -webkit-overflow-scrolling: touch; } }

.single__container { width: 100%; display: -webkit-box; display: -webkit-flex; display: flex; }

@media (max-width: 768px) { .single__container { display: block; } }

.single__text { position: relative; height: 100%; z-index: 100; display: -webkit-box; display: -webkit-flex; display: flex; z-index: 50; max-width: 50%; width: 600px; -webkit-transform: translate(0); transform: translate(0); }

@media (max-width: 768px) { .single__text { width: 100%; max-width: unset; display: none; } }

@media (max-width: 768px) { .only-text .single__text { display: block !important; } }

.single__text a { font-style: italic; text-decoration: none; }

.single__text .btn--cerrar { display: none; }

.primary-text .single__text { width: 600px; }

@media (max-width: 768px) { .primary-text .single__text { width: 100%; } }

.primary-text.secondary-text .single__text { width: 850px; }

@media (max-width: 768px) { .primary-text.secondary-text .single__text { width: 100%; } }

.single__text .single__title { -webkit-transform: translate3d(-100%, 0, 0); transform: translate3d(-100%, 0, 0); }

.single__text .single__title__container { max-width: 50%; margin: 0 auto; }

@media (max-width: 768px) { .single__text .single__title__container { max-width: 80%; } }

.single__text .text { padding: 0; border-right: 1px solid #000; background: #FFF; -webkit-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); }

@media (max-width: 768px) { .single__text .text { height: auto; opacity: 1 !important; -webkit-transform: none !important; transform: none !important; width: 100% !important; border-right: none; border-bottom: 1px solid #000; } }

.only-text .single__text .text .text__scroll { padding-top: 150px; }

.single__text .text.primary-text { z-index: 50; font-size: 16px; width: 100%; -webkit-transform: translate3d(-100%, 0, 0); transform: translate3d(-100%, 0, 0); opacity: 0; }

.secondary-text .single__text .text.primary-text { width: 70%; }

.only-text.primary-text .single__text .text.primary-text .btn--cerrar { display: inline-block; }

.only-text.primary-text.secondary-text .single__text .text.primary-text .btn--cerrar { display: none; }

.single__text .text.secondary-text { z-index: 40; font-size: 13px; width: 30%; -webkit-transform: translate3d(-100%, 0, 0); transform: translate3d(-100%, 0, 0); opacity: 0; }

.only-text.primary-text.secondary-text .single__text .text.secondary-text .btn--cerrar { display: inline-block; }

@media (max-width: 768px) { .single__text .text.secondary-text .text__scroll { padding-top: 0; } }

.only-text .single__text .text.secondary-text .text__scroll { padding-top: 0px; }

.single__text .text__scroll { height: 100vh; overflow-x: hidden; overflow-y: auto; }

@media (max-width: 768px) { .single__text .text__scroll { height: auto; overflow: auto; } }

.single__text .text__container { padding: 25px 30px 25px 30px; }

@media (max-width: 768px) { .single__text .text__container { padding: 20px; } }

.single__text .text p { margin: 0 0 18px 0; }

.single__text .text p:last-child { margin: 0; }

.single__text .text ul { margin: 0 0 18px 19px; }

.single__text .text ul li { margin: 0 0 10px 0; }

.single__text a { color: #000; }

.single__images { position: relative; padding: 0; -webkit-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); z-index: 30; min-width: 50%; width: 600px; }

@media (max-width: 768px) { .single__images { width: 100% !important; } }

.primary-text .single__images { width: calc(100% - 600px); }

.primary-text.secondary-text .single__images { width: calc(100% - 850px); }

.single__images > div { -webkit-transform: translate3d(-100%, 0, 0); transform: translate3d(-100%, 0, 0); opacity: 0; }

.single__images__container { overflow-y: auto; overflow-x: hidden; height: 100vh; background: #FFF; }

@media (max-width: 768px) { .single__images__container { height: auto !important; } }

.only-images .single__images__container { border-right: 1px solid #000; }

.single__image { width: 100%; padding: 0 30px 15px 30px; }

@media only screen and (max-width: 768px) { .single__image { padding: 0 0 15px 0; } }

.single__image:last-child { padding-bottom: 0px; }

@media only screen and (max-width: 768px) { .single__image:last-child { padding-bottom: 0px; } }

.single__image img { width: 100%; height: auto; vertical-align: top; }

.single__image img:hover { cursor: none; }

.single__title { color: #fff; position: fixed; top: 25px; left: 0; padding: 0 30px; width: 100%; text-align: center; mix-blend-mode: exclusion; z-index: 100; }

.single__title a { color: #fff; }

.single__title span { display: block; text-transform: uppercase; text-align: center; font-size: 16px; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }

.single__title span.title { text-decoration: underline; }

.single__title span:nth-child(3) { font-style: italic; font-size: 17px; text-transform: none; }

.single__title span a { text-decoration: none; color: #fff; }

@media (max-width: 768px) { .single__title { width: 100%; padding-bottom: 28px; }
  .single__title span { font-size: 18px; } }

.single__text .single__title { width: 100%; }

@media (max-width: 768px) { .single__text .single__title { width: 100%; } }

.secondary-text .single__text .single__title { width: 70%; }

@media only screen and (max-width: 768px) { .single__social { padding: 18px 0 0 0; } }

.single__social span { display: block; }

.single__social span a { text-decoration: none; color: black; }

.single__info-button { -webkit-transform: translate3d(-100%, 0, 0); transform: translate3d(-100%, 0, 0); display: none; width: 100%; border-right: none; padding: 5px 21px 3px 21px; font-size: 18px; background: #FFF; }

.single__info-button.info--open .flecha { -webkit-transform: rotate(180deg); transform: rotate(180deg); }

@media (max-width: 768px) { .only-text .single__info-button { display: none !important; } }

.single__info-button span { display: -webkit-box; display: -webkit-flex; display: flex; -webkit-box-align: center; -webkit-align-items: center; align-items: center; }

.single__info-button span:hover { cursor: none; }

.single__info-button .flecha { font-size: 18px; color: #000000; text-align: right; line-height: 1; -webkit-transform-origin: center; transform-origin: center; -webkit-transition: -webkit-transform 0.3s ease; transition: -webkit-transform 0.3s ease; transition: transform 0.3s ease; transition: transform 0.3s ease, -webkit-transform 0.3s ease; -webkit-transform: rotate(0); transform: rotate(0); }

@media only screen and (max-width: 768px) { .single__info-button { display: -webkit-box; display: -webkit-flex; display: flex; } }

.single .show { display: -webkit-box; display: -webkit-flex; display: flex; }

.single .hide { display: none; }

.iniciar { -webkit-transform: translate3d(0, 0, 0) !important; transform: translate3d(0, 0, 0) !important; opacity: 1 !important; }

.esconder { opacity: 1 !important; }

.animar { -webkit-transition: -webkit-transform 0.45s ease; transition: -webkit-transform 0.45s ease; transition: transform 0.45s ease; transition: transform 0.45s ease, -webkit-transform 0.45s ease; }

.btn--cerrar { width: 13px; height: 13px; display: inline-block; margin-right: 8.5px; z-index: 100; opacity: 1; position: relative; }

.btn--cerrar__wrapper { z-index: 100; position: absolute; left: 0; top: 10px; width: 100%; -webkit-transform: translate3d(-100%, 0, 0); transform: translate3d(-100%, 0, 0); text-align: right; }

.btn--cerrar span { position: absolute; top: 0; height: 1px; width: 18px; display: block; background: #000; }

.btn--cerrar span:first-child { -webkit-transform-origin: left; transform-origin: left; left: 0; -webkit-transform: rotate(45deg); transform: rotate(45deg); }

.btn--cerrar span:last-child { -webkit-transform-origin: right; transform-origin: right; right: 0; -webkit-transform: rotate(-45deg); transform: rotate(-45deg); }

.default { position: fixed; top: 0; left: 0; z-index: 100; font-family: "Spectral"; width: 100%; height: 100%; padding-left: 40px; width: 600px; border-right: 1px solid #000; overflow-y: auto; }

@media (max-width: 768px) { .default { padding-left: 0; position: static; } }

.default__container { padding: 25px 30px 25px 30px; }

@media (max-width: 768px) { .default__container { padding: 20px; width: 100%; } }

.default__container h1 { display: block; text-transform: uppercase; text-align: center; font-size: 16px; margin: 0 0 50px 0; padding: 0; font-weight: normal; }

.default__container p { margin: 0 0 18px 0; }

.default__container p:last-child { margin: 0; }

.default__container ul { margin: 0 0 14px 0; padding: 0 0 0 20px; }

.default__container ul li { margin: 0 0 14px 0; padding: 0; }

.default__container a { color: #000; font-style: italic; text-decoration: none; }